In [1]:
import pandas as pd

In [2]:
# read csv file to a dataframe
cities_df = pd.read_csv("Resources/cities_data.csv", index_col=0)
cities_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Date
0,Saint Anthony,45.0205,-93.2180,26.01,68,90,9.22,US,1611994745
1,Rikitea,-23.1203,-134.9692,79.38,75,7,11.23,PF,1611994745
2,Bangui,4.3612,18.5550,75.20,83,20,5.75,CF,1611994745
3,Chicama,-7.8447,-79.1469,72.21,69,98,4.65,PE,1611994642
4,Punta Arenas,-53.1500,-70.9167,44.60,76,40,5.75,CL,1611994745

In [3]:
# generate HTML table from the dataframe
cities_df.to_html("Resources/cities_table.html")